[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = Mikkel Møller Jensen
	email = mikkj17@gmail.com
[init]
	defaultBranch = main
